@use '../../../../styles/variables' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: $overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-modal;
}

.modal {
  width: 420px;
  background: $white;
  border-radius: $radius-md;
  padding: $sp-6;
  box-shadow: $shadow-modal;
  animation: fadeIn $transition-fast;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
