@use '../../../../styles/variables' as *;

.page {
  display: flex;
  min-height: 100vh;
  font-family: $font-body;
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-page;
}
