@use '../../../../styles//variables' as *;

.page {
  display: flex;
  min-height: calc(100vh - $header-height);
  // margin-top: $header-height;
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

